<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FelicitaPizzeria.com</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" media="screen and (max-width: 1170px)" href="/css/phone.css">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai|Bree+Serif&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

</head>

<body>
    <nav id="navbar">
        <div id="logo">
            <img src="https://res.cloudinary.com/ash006/image/upload/v1621788264/Felicita_Pizzeria_1_cunl47.png"
                alt="FelicitaPizzeria.com">
        </div>
        <ul>
            <li class="item"><a href="#home">Home</a></li>
            <li class="item"><a href="#services-container">Services</a></li>
            <li class="item"><a href="#veg-pizza">Veg Pizza</a></li>
            <li class="item"><a href="#non-veg-pizza">Non-Veg Pizza</a></li>
            <li class="item"><a href="#beverages">Beverages</a></li>
            <li class="item"><a href="#desserts">Desserts</a></li>
            <li class="item"><a href="#client-section">Our Clients</a></li>
            {{#if name}}
            <li class="item"><a>{{name}}</a> </li>
            <li class="item">
                <form method="post" action="/editprofile">
                    <a onclick="this.parentNode.submit();">Edit Profile</a>
                </form>
            </li>
            <li class="item">
                <form method="post" action="/logout">
                    <a onclick="this.parentNode.submit();">Logout</a>
                </form>
            </li>

            <li class="item">
                <form method="post" action="/deleteuser">
                    <a onclick="this.parentNode.submit();">Delete Account</a>
                </form>
            </li>
            {{else}}
            <li class="item"><a href="/login">Login</a></li>
             <li class="item"><a href="/signup">Sign Up</a></li>
            {{/if}}
        </ul>
    </nav>

    <section id="carousel">

        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                    class="active"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://res.cloudinary.com/ash006/image/upload/v1622089142/1_slw0qc.webp"
                        class="d-block w-100 custom-height" alt="img-1">
                </div>
                <div class="carousel-item">
                    <img src="https://res.cloudinary.com/ash006/image/upload/v1622089143/2_gow8sy.webp"
                        class="d-block w-100 custom-height" alt="img-2">
                </div>
                <div class="carousel-item">
                    <img src="https://res.cloudinary.com/ash006/image/upload/v1622089143/3_rrmeqz.jpg"
                        class="d-block w-100 custom-height" alt="img-3">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>

    <section id="home">
        <h1 class="h-primary center">About Us</h1>
        <div id="about" class="center">
            <h1 class="h-primary">Welcome to Felicita Pizzeria</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis dolorum numquam minus. </p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. </p>
            <button class="btn">Order Now</button>
        </div>

    </section>

    <section id="services-container">
        <h1 class="h-primary center">Our Services</h1>
        <div id="services">
            <div class="box">
                <img src="https://res.cloudinary.com/ash006/image/upload/v1622090308/service-1_stgqiz.jpg" alt="one">
                <h2 class="h-secondary center">Pizza Ordering</h2>
                <p class="center">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem, culpa suscipit error
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et qui, repudiandae similique nam,
                    recusandae quidem ab asperiores ex, aut fugit labore veritatis facere?
                    sint delectus ab dolorum nam. Debitis facere, incidunt voluptates eos, mollitia voluptatem iste sunt
                    voluptas beatae facilis labore, omnis sint quae eum.</p>
            </div>
            <div class="box">
                <img src="https://res.cloudinary.com/ash006/image/upload/v1622089558/service-2_xqkhxw.png" alt="">
                <h2 class="h-secondary center">Pre Ordering</h2>
                <p class="center">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem, culpa suscipit error
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde laudantium a incidunt animi ad, ab
                    dignissimos vero? Unde numquam odit repudiandae perferendis nisi.

                    sint delectus ab dolorum nam. Debitis facere, incidunt voluptates eos, mollitia voluptatem iste sunt
                    voluptas beatae facilis labore, omnis sint quae eum.</p>
            </div>
            <div class="box">
                <img src="https://res.cloudinary.com/ash006/image/upload/v1622089521/service-3_rr4h2j.png" alt="">
                <h2 class="h-secondary center">Home Delivery</h2>
                <p class="center">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem, culpa suscipit error
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus provident fugiat aliquam
                    minima at explicabo. Earum eveniet quaerat, sunt molestias nesciunt quas! Quis.
                    sint delectus ab dolorum nam. Debitis facere, incidunt voluptates eos, mollitia voluptatem iste sunt
                    voluptas beatae facilis labore, omnis sint quae eum.</p>
            </div>
        </div>
    </section>

    <h1 class="h-primary center">Menu</h1>

    <section id="veg-pizza">
        <div id="item-container">
            <h1>Veg Pizza</h1>
            <div class="pizza-gallery">
                <div class="food-item item1">
                    <div class="items">

                        <div class="food-item-img">
                            <img class="image"
                                src="https://res.cloudinary.com/ash006/image/upload/v1622089450/peppy-paneer-pizza_sn9y2t.jpg"
                                alt="1">
                        </div>

                        <div class="detail-box">
                            <div class="type">
                                <a href="#">Name</a>
                                <span>Peppy Paneer Pizza</span>
                            </div>

                            <div class="cart">
                                <a href="#" class="price">Rs.395</a>
                                <span><button class="button">Add To Cart</button></span>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="food-item item2">
                    <div class="items">

                        <div class="food-item-img">
                            <img class="image"
                                src="https://res.cloudinary.com/ash006/image/upload/v1622089245/cheese-and-corn-pizza_dsjho7.webp"
                                alt="1">
                        </div>

                        <div class="detail-box">
                            <div class="type">
                                <a href="#">Name</a>
                                <span>Cheese And Corn Pizza</span>
                            </div>

                            <div class="cart">
                                <a href="#" class="price">Rs.305</a>
                                <span><button class="button">Add To Cart</button></span>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="food-item item3">
                    <div class="items">

                        <div class="food-item-img">
                            <img class="image"
                                src="https://res.cloudinary.com/ash006/image/upload/v1622089406/farm-house-pizza_c8tlzp.jpg"
                                alt="1">
                        </div>

                        <div class="detail-box">
                            <div class="type">
                                <a href="#">Name</a>
                                <span>Farm House Pizza</span>
                            </div>

                            <div class="cart">
                                <a href="#" class="price">Rs.395</a>
                                <span><button class="button">Add To Cart</button></span>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="food-item item4">
                    <div class="items">

                        <div class="food-item-img">
                            <img class="image"
                                src="https://res.cloudinary.com/ash006/image/upload/v1622089516/pineapple-and-canned-spaghetti-pizza_ym01cf.png"
                                alt="1">
                        </div>

                        <div class="detail-box">
                            <div class="type">
                                <a href="#">Name</a>
                                <span>Pineapple And Canned Spaghetti Pizza</span>
                            </div>

                            <div class="cart">
                                <a href="#" class="price">Rs.450</a>
                                <span><button class="button">Add To Cart</button></span>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="food-item item5">
                    <div class="items">

                        <div class="food-item-img">
                            <img class="image"
                                src="https://res.cloudinary.com/ash006/image/upload/v1622089516/veg-extravaganza-pizza_h5oauv.jpg"
                                alt="1">
                        </div>

                        <div class="detail-box">
                            <div class="type">
                                <a href="#">Name</a>
                                <span>Veg Extravaganza Pizza</span>
                            </div>

                            <div class="cart">
                                <a href="#" class="price">Rs.450</a>
                                <span><button class="button">Add To Cart</button></span>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="food-item item6">
                    <div class="items">

                        <div class="food-item-img">
                            <img class="image"
                                src="https://res.cloudinary.com/ash006/image/upload/v1622089450/mexican-green-wave-pizza_qbyupi.jpg"
                                alt="1">
                        </div>

                        <div class="detail-box">
                            <div class="type">
                                <a href="#">Name</a>
                                <span>Mexican Green Wave Pizza</span>
                            </div>

                            <div class="cart">
                                <a href="#" class="price">Rs.395</a>
                                <span><button class="button">Add To Cart</button></span>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="food-item item7">
                    <div class="items">

                        <div class="food-item-img">
                            <img class="image"
                                src="https://res.cloudinary.com/ash006/image/upload/v1622089515/punjabi-bagh-pizza_s86va9.webp"
                                alt="1">
                        </div>

                        <div class="detail-box">
                            <div class="type">
                                <a href="#">Name</a>
                                <span>Punjabi Bagh Pizza</span>
                            </div>
                            <div class="cart">
                                <a href="#" class="price">Rs.395</a>
                                <span><button class="button">Add To Cart</button></span>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="food-item item8">
                    <div class="items">

                        <div class="food-item-img">
                            <img class="image"
                                src="https://res.cloudinary.com/ash006/image/upload/v1622089450/margherita-pizza_g21iu9.webp"
                                alt="1">
                        </div>

                        <div class="detail-box">
                            <div class="type">
                                <a href="#">Name</a>
                                <span>Margherita Pizza</span>
                            </div>
                            <div class="cart">
                                <a href="#" class="price">Rs.199</a>
                                <span><button class="button">Add To Cart</button></span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="non-veg-pizza">
        <div id="item-container">
            <h1> Non-Veg Pizza</h1>
            <div class="pizza-gallery">
                <div class="food-item item9">
                    <div class="items">

                        <div class="food-item-img">
                            <img class="image"
                                src="https://res.cloudinary.com/ash006/image/upload/v1622089406/chicken-sausage-pizza_vzcvlo.webp"
                                alt="1">
                        </div>

                        <div class="detail-box">
                            <div class="type">
                                <a href="#">Name</a>
                                <span>Chicken Sausage Pizza</span>
                            </div>

                            <div class="cart">
                                <a href="#" class="price">Rs.305</a>
                                <span><button class="button">Add To Cart</button></span>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="food-item item10">
                    <div class="items">

                        <div class="food-item-img">
                            <img class="image"
                                src="https://res.cloudinary.com/ash006/image/upload/v1622089406/indian-tandoori-chicken-tikka-pizza_utlv06.webp"
                                alt="1">
                        </div>

                        <div class="detail-box">
                            <div class="type">
                                <a href="#">Name</a>
                                <span>Indian Tandoori Chicken Tikka Pizza</span>
                            </div>

                            <div class="cart">
                                <a href="#" class="price">Rs.570</a>
                                <span><button class="button">Add To Cart</button></span>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="food-item item11">
                    <div class="items">

                        <div class="food-item-img">
                            <img class="image"
                                src="https://res.cloudinary.com/ash006/image/upload/v1622089450/non-veg-supreme-pizza_xqsohs.webp"
                                alt="1">
                        </div>

                        <div class="detail-box">
                            <div class="type">
                                <a href="#">Name</a>
                                <span>Non Veg Supreme Pizza</span>
                            </div>

                            <div class="cart">
                                <a href="#" class="price">Rs.570</a>
                                <span><button class="button">Add To Cart</button></span>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="food-item item12">
                    <div class="items">

                        <div class="food-item-img">
                            <img class="image"
                                src="https://res.cloudinary.com/ash006/image/upload/v1622089307/chicken-dominator-pizza_ixcpg6.webp"
                                alt="1">
                        </div>

                        <div class="detail-box">
                            <div class="type">
                                <a href="#">Name</a>
                                <span>Chicken Dominator Pizza</span>
                            </div>

                            <div class="cart">
                                <a href="#" class="price">Rs.570</a>
                                <span><button class="button">Add To Cart</button></span>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="food-item item13">
                    <div class="items">

                        <div class="food-item-img">
                            <img class="image"
                                src="https://res.cloudinary.com/ash006/image/upload/v1622089307/chicken-onion-barbeque-pizza_l7ulx1.webp"
                                alt="1">
                        </div>

                        <div class="detail-box">
                            <div class="type">
                                <a href="#">Name</a>
                                <span>Chicken Onion Barbeque Pizza</span>
                            </div>

                            <div class="cart">
                                <a href="#" class="price">Rs.570</a>
                                <span><button class="button">Add To Cart</button></span>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="food-item item14">
                    <div class="items">

                        <div class="food-item-img">
                            <img class="image"
                                src="https://res.cloudinary.com/ash006/image/upload/v1622089245/cheese-pepperoni-pizza_t0tkrb.webp"
                                alt="1">
                        </div>

                        <div class="detail-box">
                            <div class="type">
                                <a href="#">Name</a>
                                <span>Cheese Pepperoni Pizza</span>
                            </div>

                            <div class="cart">
                                <a href="#" class="price">Rs.570</a>
                                <span><button class="button">Add To Cart</button></span>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="food-item item15">
                    <div class="items">

                        <div class="food-item-img">
                            <img class="image"
                                src="https://res.cloudinary.com/ash006/image/upload/v1622089307/chicken-golden-delight_kfssfy.webp"
                                alt="1">
                        </div>

                        <div class="detail-box">
                            <div class="type">
                                <a href="#">Name</a>
                                <span>Chicken Golden Delight Pizza</span>
                            </div>

                            <div class="cart">
                                <a href="#" class="price">Rs.450</a>
                                <span><button class="button">Add To Cart</button></span>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="food-item item16">
                    <div class="items">

                        <div class="food-item-img">
                            <img class="image"
                                src="https://res.cloudinary.com/ash006/image/upload/v1622089450/moroccan-spice-pasta-pizza_oa0eq6.png"
                                alt="1">
                        </div>

                        <div class="detail-box">
                            <div class="type">
                                <a href="#">Name</a>
                                <span>Moroccan Spice Pasta Pizza</span>
                            </div>

                            <div class="cart">
                                <a href="#" class="price">Rs.335</a>
                                <span><button class="button">Add To Cart</button></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="beverages">
        <div id="item-container">
            <h1>Beverages</h1>
            <div class="pizza-gallery">
                <div class="food-item item1">
                    <div class="items">

                        <div class="food-item-img">
                            <img class="image"
                                src="https://res.cloudinary.com/ash006/image/upload/v1622089515/pepsi-beverage_fofgs8.png"
                                alt="1">
                        </div>

                        <div class="detail-box">
                            <div class="type">
                                <a href="#">Name</a>
                                <span>Pepsi</span>
                            </div>

                            <div class="cart">
                                <a href="#" class="price">Rs.60</a>
                                <span><button class="button">Add To Cart</button></span>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="food-item item2">
                    <div class="items">

                        <div class="food-item-img">
                            <img class="image"
                                src="https://res.cloudinary.com/ash006/image/upload/v1622089142/7up-beverage_wojbpp.webp"
                                alt="1">
                        </div>

                        <div class="detail-box">
                            <div class="type">
                                <a href="#">Name</a>
                                <span>7Up</span>
                            </div>

                            <div class="cart">
                                <a href="#" class="price">Rs.60</a>
                                <span><button class="button">Add To Cart</button></span>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="food-item item3">
                    <div class="items">

                        <div class="food-item-img">
                            <img class="image"
                                src="https://res.cloudinary.com/ash006/image/upload/v1622089142/bailley-one_cs7vuo.webp"
                                alt="1">
                        </div>

                        <div class="detail-box">
                            <div class="type">
                                <a href="#">Name</a>
                                <span>Bailley One</span>
                            </div>

                            <div class="cart">
                                <a href="#" class="price">Rs.20</a>
                                <span><button class="button">Add To Cart</button></span>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="food-item item4">
                    <div class="items">

                        <div class="food-item-img">
                            <img class="image"
                                src="https://res.cloudinary.com/ash006/image/upload/v1622089246/b-natural-beverage_getxju.jpg"
                                alt="1">
                        </div>

                        <div class="detail-box">
                            <div class="type">
                                <a href="#">Name</a>
                                <span>B Natural</span>
                            </div>

                            <div class="cart">
                                <a href="#" class="price">Rs.60</a>
                                <span><button class="button">Add To Cart</button></span>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </section>

    <section id="desserts">
        <div id="item-container">
            <h1>Dessert</h1>
            <div class="pizza-gallery">
                <div class="food-item item1">
                    <div class="items">

                        <div class="food-item-img">
                            <img class="image"
                                src="https://res.cloudinary.com/ash006/image/upload/v1622089516/red-velvet-cake_tl7swd.webp"
                                alt="1">
                        </div>

                        <div class="detail-box">
                            <div class="type">
                                <a href="#">Name</a>
                                <span>Red Velvet Cake</span>
                            </div>

                            <div class="cart">
                                <a href="#" class="price">Rs.129</a>
                                <span><button class="button">Add To Cart</button></span>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="food-item item2">
                    <div class="items">

                        <div class="food-item-img">
                            <img class="image"
                                src="https://res.cloudinary.com/ash006/image/upload/v1622089406/choco-lava_w7kwm9.jpg"
                                alt="1">
                        </div>

                        <div class="detail-box">
                            <div class="type">
                                <a href="#">Name</a>
                                <span>Choco Lava Cake</span>
                            </div>

                            <div class="cart">
                                <a href="#" class="price">Rs.99</a>
                                <span><button class="button">Add To Cart</button></span>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="food-item item3">
                    <div class="items">

                        <div class="food-item-img">
                            <img class="image"
                                src="https://res.cloudinary.com/ash006/image/upload/v1622089245/butterscotch-mousse-cake_rwabev.webp"
                                alt="1">
                        </div>

                        <div class="detail-box">
                            <div class="type">
                                <a href="#">Name</a>
                                <span>Butterscotch Mousse Cake</span>
                            </div>

                            <div class="cart">
                                <a href="#" class="price">Rs.99</a>
                                <span><button class="button">Add To Cart</button></span>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="food-item item4">
                    <div class="items">

                        <div class="food-item-img">
                            <img class="image"
                                src="https://res.cloudinary.com/ash006/image/upload/v1622089246/brownie-fantasy_podtsy.webp"
                                alt="1">
                        </div>

                        <div class="detail-box">
                            <div class="type">
                                <a href="#">Name</a>
                                <span>Brownie Fantasy</span>
                            </div>

                            <div class="cart">
                                <a href="#" class="price">Rs.59</a>
                                <span><button class="button">Add To Cart</button></span>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </section>

    <section id="client-section">
        <h1 class="h-primary center">Our Clients</h1>
        <div id="clients">
            <div class="client-item">
                <img src="https://res.cloudinary.com/ash006/image/upload/v1622089407/logo1_zmhsci.png" alt="Our Client">
            </div>
            <div class="client-item">
                <img src="https://res.cloudinary.com/ash006/image/upload/v1622089407/logo2_blo4vp.png" alt="Our Client">
            </div>

            <div class="client-item">
                <img src="https://res.cloudinary.com/ash006/image/upload/v1622089406/logo4_udtoga.png" alt="Our Client">
            </div>
            <div class="client-item">
                <img src="https://res.cloudinary.com/ash006/image/upload/v1622089406/logo3_jhemz9.png" alt="Our Client">
            </div>
        </div>

    </section>

    <footer>
        <div class="center">
            Copyright &copy; www.FelicitaPizzeria.com All rights reserved!
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous">
        </script>
</body>

</html>